
<!doctype html>
<html lang="en">
   <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     {% load static %}
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title></title>
    </head>
    <body>
    <div class="container">
      <h1 style="text-align: center;font-size: 40px;font-family:'Gubbi">MycoTRAP-DB</h1>
    </div>
   <style>
    .navbar-nav > li{
   padding-left:15px;
   padding-right:15px;
   }
       .footer {
  text-align: center;
  padding: 1px;
  background-color:black;
  color: white;
  }
  .mySlides {display:block;
margin-left: auto;
margin-right: auto;}
    </style>

   <header class="site-header">
      <div class="container">
      <nav class="navbar navbar-inverse">
      <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

            <li><a href="{% url 'front' %}">
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</h4></a></li>

            <li><a href="{% url 'Info:Index' %}"><h4>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp;
            Analyze</h4></a></li>

            <li><a href="{% url 'Info:hlp' %}">
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;Tools</h4></a></li>


            <li><a href="{% url 'Info:contk' %}"><h4>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;Contact</h4></a></li>
            <li><a href="{% url 'Info:download_section' %}"><h4>&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>&nbsp;Download</h4></a></li>
            
            <li><a href="{% url 'Info:upload' %}">
                <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-open" aria-hidden="true"></span>&nbsp;Upload</h4>
              </a></li></ul>
          </div>
      </div>
      </nav>
      </div>
   </header>
  <div class="container">
      {% block content %}
      {% endblock %}
  </div>
   </body>
</html>