{% extends 'Info/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
{% load static %}

 <style>
</style>

      <div style="background-color: cornsilk" class=" div container-fluid">
                 <div class=" div row">
             <div style="font-size:large;font-family:Gargi" class="col-sm-8 col-md-8 col-lg-12">

                  <p>1. Professor Dr. Seyed Ehtesham Hasnain,
                      PhD, DSc (h.c.), DMedSc (h.c.), ML, FAAM, FTWAS, FNA, FASc, FNASc
                 Former Member (2004-14),Scientific Advisory Council to the Prime Minister of India (SAC-PM)
                 Former Member, University Grants Commission (UGC)
                     J.C. Bose National Fellow</p>

                 <p>Vice Chancellor
                     Jamia Hamdard (Deemed to be a University)
                     and</p>
                 <p>Professor, Jamia Hamdard-Institute of Molecular Medicine
                    Hamdard Nagar,New Delhi-110062,India
                 <br>Tel #   :(+91) 11-2605-9662 / 5216, 5213 (Office)
                 <br>Telefax#   :(+91) 11-2605-9663
                 <br>Email : pstovc@jamiahamdard.ac.in ,sehiitd@gmail.com
                     <br>Webpage: http://www.seyedehasnain.org.in
                      Webpage:http://www.isogem.org/hasnain.html
                     <br>Website: http://www.jamiahamdard.edu</p>
                 and
                 <br><p>Formerly Invited Professor (2011-2019)
                 Kusuma School of Biological Sciences
                 Indian Institute of Technology, Delhi (IIT,D)
                     Hauz Khas, New Delhi-110 016, India</p>

                 <p>2. Nasreen Z. Ehtesham,PhD, FNASc, FAPASc
                 Director-in-Charge
                 National Institute of Pathology
                 Safdarjang Hospital Campus,New Delhi-110029
                 <br>Ph no: 011-26165797, 011-26166704
                   <br>  email: nasreen_e1@hotmail.com ,nzehtesham@gmail.com</p>

              </div>
        </div>
      </div>
               <h4>This work is supported by:</h4>
               <div class="container">
               <div class=" div row">
               <div style="font-size:large;font-family:Gargi" class="col-sm-4 col-md-4 col-lg-4">
                <img src="{% static "images/logo1.jpg" %}" alt="Department of Science and Technology,Government of India" style="width:85%">
             </div>
             <div style="font-size:large;font-family:Gargi" class="col-sm-4 col-md-4 col-lg-4">

                <img src="{% static "images/logo2.jpeg" %}" alt="ICMR" style="width:60%">
             </div>

               <div class="col-sm-4 col-md-4 col-lg-4">

                   <img src="{% static "images/logo3.jpg" %}" alt="Jamia Hamdard" style="width:65%">
              </div>
             </div>
               </div>
{% endblock %}
