{% extends 'Info/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
{% load static %}

      <div style="background-color: cornsilk" class=" div container-fluid">
                 <div class=" div row">
             <div style="font-size:large;font-family:Gargi" class="col-sm-8 col-md-8 col-lg-12">

                 <p><b>1. Prof Seyed Ehtesham Hasnain</b> PhD, DSc (h.c.), DMedSc (h.c.), ML, FAAM, FTWAS, FNA<br>
                Former Member (2004-14), Scientific Advisory Council to the Prime Minister of India (SAC-PM)<br>
                Former Member, University Grants Commission (UGC)<br>
                J.C. Bose National Fellow<br><br>
                
                Distinguished Professor,<br>
                Department of Life Science, School of Basic Sciences and research,<br>
                Sharda University, Greater Noida,<br>
                Uttar Pradesh-201310<br><br>
                
                Formerly Invited Professor (2011-2019) with Honorary Professor<br>
                Department of Biochemical Engineering and Biotechnology, Indian Institute of Technology, Delhi (IIT-D),<br>Hauz Khas, New
                Delhi 110016, India<br>
                Email : seh@dbeb.iitd.ac.in; sehiitd@gmail.com<br>
                Webpage: http://www.seyedehasnain.org.in<br>
                http://www.isogem.org/hasnain.html<br></p>

                 <p><b>2. Dr. Nasreen Z. Ehtesham,</b><br> PhD, FNASc, FAPASc<br>
                 Director-in-Charge<br>
                 National Institute of Pathology (ICMR) <br>
                 Safdarjang Hospital Campus, New Delhi 110029
                 <br>Ph no : 011-26165797, 011-26166704
                   <br>  Email : nasreen_e1@hotmail.com,
                     Email : nzehtesham@gmail.com</p> 

              </div>
        </div>
      </div>

               <div class="container">
               <div class=" div row">

               <div class="col-sm-12 col-md-12 col-lg-12">
                 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="{% static "images/logo2.jpeg" %}" alt="ICMR" style="width:20%;text-align: center;" ><br>
                   
              </div>
             </div>
               </div
{% endblock %}
