{% extends 'Info/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
{% load static %}

      <div style="background-color: cornsilk" class=" div container-fluid">
                 <div class=" div row">
             <div style="font-size:large;font-family:Gargi" class="col-sm-8 col-md-8 col-lg-12">

                 <p><b>1. Professor Dr. Seyed Ehtesham Hasnain,</b><br>
                      PhD, DSc (h.c.), DMedSc (h.c.), ML, FAAM, FTWAS, FNA, FASc, FNASc<br>
                     Former Member (2004-14), Scientific Advisory Council to the Prime Minister of India (SAC-PM)<br>
                     Former Member, University Grants Commission (UGC) J.C. Bose National Fellow</p>

                 <p><b>Vice Chancellor
                     Jamia Hamdard (Deemed to be a University)</b><br>
                     AND<br>
                 Professor, Jamia Hamdard-Institute of Molecular Medicine
                    Hamdard Nagar, New Delhi, 110062, India
                 <br>Tel # :(+91) 11-2605-9662 / 5216, 5213 (Office)
                 Telefax#   :(+91) 11-2605-9663
                 <br>Email : pstovc@jamiahamdard.ac.in, Email : sehiitd@gmail.com
                     <br>Webpage : http://www.seyedehasnain.org.in,
                      Webpage : http://www.isogem.org/hasnain.html<br>
                     Website : http://www.jamiahamdard.edu</p>
                 AND
                 <p><b>Formerly Invited Professor (2011-2019)</b>
                 Kusuma School of Biological Sciences<br>
                 Indian Institute of Technology, Delhi (IIT,D)<br> 
                     Hauz Khas, New Delhi 110 016, India</p>

                 <p><b>2. Dr Nasreen Z. Ehtesham,</b><br> PhD, FNASc, FAPASc<br>
                 Director-in-Charge<br>
                 National Institute of Pathology (ICMR) <br>
                 Safdarjang Hospital Campus, New Delhi 110029
                 <br>Ph no : 011-26165797, 011-26166704
                   <br>  Email : nasreen_e1@hotmail.com,
                     Email : nzehtesham@gmail.com</p> 

              </div>
        </div>
      </div>

               <div class="container">
               <div class=" div row">
               
             <div style="font-size:large;font-family:Gargi" class="col-sm-6 col-md-6 col-lg-6">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="{% static "images/logo3.jpg" %}" alt="Jamia Hamdard" style="width:45%"> 
                
             </div>

               <div class="col-sm-6 col-md-6 col-lg-6">
                 <br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="{% static "images/logo2.jpeg" %}" alt="ICMR" style="width:40%">
                   
              </div>
             </div>
               </div
{% endblock %}
