{% extends 'Info/base.html' %}
{% block title %}Help{% endblock %}
{% block content %}

    <br>
     <div style="background:cornsilk" class=" div1 container-fluid">
       <div class=" div row">
        <ul style="font-family:'Rasa Light'">
        <li><h3>MAPP : Considers the physicochemical variation present in a column of a protein sequence alignment and, on the basis of this variation, predicts the impact of all possible amino acid substitutions on the function of the protein.
        </h3></li>
        <li><h3>PANTHER : Protein analysis through evolutionary relationship.</h3></li>
        <li><h3>PolyPhen-1 : sequence, phylogenetic and structural information.</h3></li>

        <li><h3>PolyPhen-2 : eight sequence based and three structure based amino acid properties
           not predictors.</h3></li>
        <li><h3>SIFT : sequence homology and the physical properties of amino acids.</h3></li>

        <li><h3>SNAP : neural network method based on sequence information.</h3></li>
        <li><h3>SDM : Stability changes.</h3></li>

        <li><h3>STRUM : Structural stability prediction.</h3></li>
        <li><h3>mCSM : Graph-based signatures, pharmacophore properties and experimental conditions.</h3></li>

        <li><h3>mCSM-lig : Protein-ligand affinity change upon mutation.</h3></li>
        <li><h3>PredictSNP:Consensus classifiers for prediction of disease-related mutations.</h3></li>
        <li><h3>phD-SNP:Predictor of human deleterious single nucleotide polymorphisms</h3></li>
        </ul>
       </div>
      </div>

{% endblock %}