{% extends 'Info/base.html' %}
{% block title %}Analyze{% endblock %}
{% block content %}

<style>
  .div{
  margin: 25px 50px 75px 100px;
}
</style>
    <br>
<div>
 <div style="background-color:cornsilk" class=" div1 container-fluid">
  <div class=" div row">
    <form action='/Info/Analyze/' method="post" style="text-align: center;">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class=" div row">

       <h2 style="font-family: 'Rasa Light">Analyze Mutation</h2><br>
         {% if obj %}
           {% for x in obj %}
                <div class="col-sm-2 col-md-1">
                           <table>
                               <center>
                                   <tbody>

                                     <tr>
                                     <td><a href="{% url 'Info:delta' x.name  %}"><h3 style="text-align: left;font-family: 'Rasa Light">{{ x.name }}</h3></a></td>
                                     </tr>

                                   </tbody>

                                </center>
                           </table>


                </div>

            {% endfor %}
         {% else %}
         <h3 style="font-family: 'Rasa Light">NO DATA YET</h3>
         {% endif %}


  </div>
 </div>
</div>
{% endblock %}